body {
  background-color: white;
}
#mainCardImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3 {
  color: white;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  font-weight: bold;
  padding-left: 0px;
}
small {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
#int {
  width: 1000px;

  border-radius: 20px;
  border: solid midnightblue 3px;
  padding: 10px 30px 20px 30px;

  background-image: url('img/mbti사진/intBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
#mainimg {
  width: 1000px;

  border-radius: 20px;
  border: solid midnightblue 3px;
  padding: 10px 30px 20px 30px;

  background-image: url('img/mbti사진/intBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#intCard {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  border: solid 1px midnightblue;
}
