@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Moirai+One&family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');

* {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url('../img//main/background.jpg');
  background-size: cover;
  z-index: -5;
}

.updiv {
  border: 1px solid transparent;
}

.titlebox {
  border: 1px solid transparent;
  width: 800px;
  margin: 50px auto 50px auto;
}

.title {
  font-family: 'Moirai One', system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 65px;
  color: #6b32c5;
  text-shadow: -1px 0px #6b32c5, 0px 1px #6b32c5, 1px 0px #6b32c5,
    0px -1px #6b32c5;
  text-align: center;
  margin: 10px auto 10px auto;
}

.subtitle {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  width: auto;
  height: 20px;
  text-align: center;
  color: rgb(235, 201, 255);
  margin: 0px auto 0px auto;
  border-radius: 20px;
  background-color: #6b32c5;
}

.intro {
  border: 5px solid rgb(235, 201, 255);
  border-radius: 50px;
  width: 800px;
  margin: 20px auto 100px auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding: 0px 10px 5px 20px;
}

.left {
  background-color: transparent;
  float: left;
  text-align: center;
  word-break: break-all;
}

.right {
  background-color: transparent;
  float: right;
  word-break: break-all;
}

.intro-titlebox {
  width: 300px;
  height: 50px;
  margin: auto;
}

.intro-title {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 137, 192);
}
.p > intro-left-content {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 137, 192);
}

li {
  list-style-type: none;
}

.main-titlebox {
  border-radius: 50px;
  width: 450px;
  background-color: #6b32c5;
  text-align: center;
  color: white;
  margin: 20px auto 50px auto;
}

.main-title {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
}

.player {
  width: 70%;
  margin: 0px auto 50px auto;
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamimg {
  margin: 50px auto 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
